# QtCreator stuff
*.pro.user

# Mac garbage
.DS_Store
# Remove binaries, since they don't work anyway
build*

# Desktop files can't have relative paths so everyone will have to make their own.
# git update-index --no-assume-unchanged pxlpeep.desktop to start tracking again
pxlpeep.desktop
