# QtCreator stuff
*.pro.user

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Remove binaries, since they don't work anyway
build-*

# Desktop files can't have relative paths so everyone will have to make their own.
pxlpeep.desktop
