[Desktop Entry]
Name=pxlpeep
GenericName=Image Viewer
X-GNOME-FullName=pxlpeep Image Viewer
Comment=Look at it. LOOK AT IT.
Exec=/home/barf/pxlpeep/pxlpeep.sh %F
Icon=/home/barf/pxlpeep/loupe.ico
Terminal=true
Type=Application
MimeType=image/bmp;image/x-psd;image/tiff;image/jpeg;image/png;
